/*
  them name  : elitecorp
  them coder : rami
*/
.upper-bar{background: #08526d;color:#fff;padding: 10px;}
.upper-bar span{color:#bfc6c9; }
.upper-bar .get-quote{display:inline-block;border:1px solid #ec1c23;
    padding:2px ;margin-left: 20px;}



